a:link, a:visited, a:active {
    color: rgb(54, 93, 160);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: rgb(54, 93, 160);
    font-weight: bold;
    text-decoration: underline;
}

body {
    text-align: center;
    font-family: verdana,arial,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    background: rgb(187, 187, 187);
}

table {
    font-size: 1em;
}

div#wrapper {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

div.post table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px;
}

	div.post table th a:hover{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 100%;
        text-align: center;
	}

	div.post table th a{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 100%;
        text-align: center;
	}

    div.post table th {
        background: rgb(136, 136, 136);
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 100%;
        padding: 4px 8px;
        border: 1px solid rgb(255, 255, 255);
        text-align: center;
    }

    div.post table td {
        padding: 4px 8px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        text-align: left;
    }

    div.post table tr.alt td {
        background: rgb(244, 244, 244);
    }

    div.post table tr td.alt {
        background: rgb(244, 244, 244);
    }

table tr td.indented {
    padding: 0px 0px 0px 40px;
}
